

body{

	line-height: 1.4em;
}
#row-1 {

	width: 100%;
	height: 100%;
}

.container {

	height: 100%;
	color: #FFF;
	display: flex;
	justify-content: center;
	width: 100%;
	
}

#logo {

	display: inline-flex;
	justify-content: center;
	align-items: flex-end;
}



#navigation {

	display: flex;
	justify-content: right;
}

.menu-nav-container {

	color: transparent;
	display: flex;
	width: auto;
}

ul {

	display: inline-flex;
	list-style-type: none;
   text-align: center;
   align-items: center;
   margin-top: 30px;
}

ul li {

	margin-top: 40px;
	margin-left: 30px;
}

ul li a {

	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
	text-decoration: none;
	color: #000;
}

#line-1 {

	height: 0.1em;
	background-color: #d83a82; 
}

/* ACA TERMINA EL HEADER */

#row-2 {

	height: 600px;
	width: 100%;
}


#img-bck {

	background-image: url("../imgs/fondo.gif");
    background-color: transparent;
    height: 600px;
  	margin: 30px 60px;
  	display: flex;
}



h1 {
	font-size: 80px;
	font-family: 'Josefin Sans', sans-serif;
	color: #d83a82;

}

span {

	display: flex;
	align-items: center;
	justify-content: center;
}

span p {

	font-size: 35px;
	line-height: 1em;
	color: #d83a82;
}

#line-2 {

	height: 0.1em;
	background-color: #d83a82;
}
/* ACA TERMINA EL MAIN */


#row-3 {

	height: 400px;
	width: 100%;
	margin-top: 100px;
	
}

#footer {

	height: 100%;
	width: 100%;
	display: flex;
}

#vision {

	margin-top: 10px;
	margin-left: 100px;
	text-align: center;
	width: 36%;
	padding: 0px 50px;

}

p {

	margin-top: 25px;
	margin-left: 40px;
	width: 40%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
}

#logo-foot {

	width: 15%;
	margin-top: 80px;
}

#redes {

	background-color: transparent;
	height: 50px;
	width: 200px;
	margin-top: 200px;
	margin-left: 25px;
	display: flex;
}

.fa-facebook-official:before {

	font-size: 35px;
	padding: 0px 10px;
}

.fa-twitter-square:before {

	font-size: 35px;
	padding: 0px 10px;
}

.fa-at:before {

	font-size: 35px;
	padding: 0px 10px;
}

