
#row-1 {

	width: 100%;
	height: 100%;
}

.container {

	height: 100%;
	color: #FFF;
	display: flex;
	justify-content: center;
	width: 100%;
	
}

#logo {

	display: inline-flex;
	justify-content: left;
	align-items: left;
}



#navigation {

	display: flex;
	justify-content: right;
}

.menu-nav-container {

	color: transparent;
	display: flex;
	width: auto;
}

ul {

	display: inline-flex;
	list-style-type: none;
   text-align: center;
   align-items: center;
   margin-top: 30px;
}

ul li {

	margin-top: 40px;
	margin-left: 30px;
}

ul li a {

	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
	text-decoration: none;
	color: #d83a82;
}

/* ACA TERMINA EL HEADER */

#row-2 {

	height: 200px;
	width: 100%;
}

#encabezado {


}

h1 {
	font-size: 40px;
	font-family: 'Josefin Sans', sans-serif;

}

#img-bck {

	background-image: url("../imgs/fondo.gif");
    background-color: transparent;
}






