

body{

	line-height: 1.4em;
	background-color: #e85f8a;
}
#row-1 {

	width: 100%;
	height: 100%;
}

.container {

	height: 100%;
	color: #FFF;
	display: flex;
	justify-content: center;
	width: 100%;
	
}

#logo {

	display: inline-flex;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 10px;
}



#navigation {

	display: flex;
	justify-content: right;
}

.menu-nav-container {

	color: transparent;
	display: flex;
	width: auto;
}

ul {

	display: inline-flex;
	list-style-type: none;
   text-align: center;
   align-items: center;
   margin-top: 30px;
}

ul li {

	margin-top: 40px;
	margin-left: 30px;
}

ul li a {

	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
	text-decoration: none;
	color: #000;
}

a:link  {
   
 text-decoration:none;   
}   

.Nosotros {

	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
	color: #000;
	text-decoration: none;
}

.Nosotros:hover {

	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
	color: #FFF;
	transition: all 500ms ease;
	text-decoration: none;

}

.Servicios {

	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
	color: #000;
	text-decoration: none;

}

.Servicios:hover {

	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
	color: #FFF;
	transition: all 500ms ease;
	text-decoration: none;
}

.Clientes {

	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
	color: #000;
	text-decoration: none;

}

.Clientes:hover {

	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
	color: #FFF;
	transition: all 500ms ease;
	text-decoration: none;
}

.Contacto {

	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
	color: #000;
	text-decoration: none;
}

.Contacto:hover {

	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
	color: #FFF;
	transition: all 500ms ease;
	text-decoration: none;
}


#line-1 {

	height: 0.1em;
	background-color: #000; 
}